.flag_container{
    margin-right: 10px;
    cursor: pointer;
}

.list_view_container{
    height: 20vh;
    overflow-y: scroll;
}

.list_view_els{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list_view_container::-webkit-scrollbar {
    width: 5px;
    border-radius: 10000px;
}
   
.list_view_container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.list_view_container::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}


.dropdown_elements_animate{
    animation: blinking 1s ease-in;
}