.field_container{
    /* position: absolute;
    top: 10vh; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.css-v4u5dn-MuiInputBase-root-MuiInput-root:after {
    border-color: rgb(255, 255, 255) !important;
}

.form-label{
    font-size: 24px;
    font-weight: 400;
    color : white;
}

.field_items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button_container{
    display: flex;
    align-items: center;
    gap : 10px;
    margin-top: 10px;
}

.form-button{
    font-size: var(--web_font_size) !important;
}

.alert_container{
    margin-top: 10px;
    animation: move_the_alert 0.4s ease-in;
}


@keyframes move_the_alert{
    from{
        opacity: 0;
        transform : translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}